Source: dynomite
Section: misc
Priority: optional
Maintainer: Jean Baptiste Favre <debian@jbfavre.org>
Build-Depends: debhelper (>= 9), dh-autoreconf,
               libyaml-dev,
               libssl1.0-dev
Standards-Version: 3.9.8
Homepage: https://github.com/netflix/dynomite
Vcs-Git: https://github.com/jbfavre/dynomite.git
Vcs-Browser: https://github.com/jbfavre/dynomite/

Package: dynomite
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},lsb-base (>= 3.2-14)
Description: thin and distributed dynamo storage layer.
 Dynomite, inspired by Dynamo whitepaper, is a thin, distributed
 dynamo layer for different storages and protocols.
 .
 When Dynomite team decided to settle on using C language, we
 found Twemproxy and did a fork in order to provide more features
 than just being a proxy layer.

Package: dynomite-dbg
Architecture: any
Section: debug
Priority: extra
Depends: ${misc:Depends}, dynomite (= ${binary:Version})
Description: debug symbol for Dynomite
 Dynomite, inspired by Dynamo whitepaper, is a thin, distributed
 dynamo layer for different storages and protocols.
 .
 When Dynomite team decided to settle on using C language, we
 found Twemproxy and did a fork in order to provide more features
 than just being a proxy layer.
